.skills {
  @include sm-min {
    padding: ($gap / 2) ($gap / 2) ($gap * 2);
  }
  @include sm {
    padding: $gap;
  }

  &__container {
    display: grid;
    padding-bottom: $gap;
    
    @include lg-min {
      grid-gap: $gap / 2;
      grid-template-columns: repeat(4, 1fr);
      grid-template-areas:
        "a1 a1 a2 a3"
        "a4 a5 a5 a6"
        "a7 a8 a9 a6";
    }

    @include lg-md {
      grid-gap: $gap / 2;
      grid-template-columns: repeat(3, 1fr);
      grid-template-areas:
        "a1 a1 a2"
        "a3 a4 a4"
        "a5 a5 a6"
        "a7 a8 a6"
        "a7 a9 a9";
    }

    @include md-sm {
      grid-gap: $gap / 2;
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas:
        "a1 a2"
        "a3 a2"
        "a4 a4"
        "a5 a6"
        "a5 a7"
        "a8 a9";
    }
    @include sm {
      grid-gap: $gap;
      grid-template-columns: 1fr;
      grid-template-areas:
        "a1"
        "a2"
        "a3"
        "a4"
        "a5"
        "a6"
        "a7"
        "a8"
        "a9";
    }
    
  }
  &__button {
    display: flex;
    justify-content: center;

    .btn-accent {
    
      @include sm {
        padding: 18px 20px;
        width: 100%;
        font-size: 1.5rem;
      }
      @include sm-xs {
        min-width: 250px;
        width: 100%;
        font-size: 1.125rem;
      }       
    }
  }
  
}

.skill-item {

  position: relative;
  display: grid;
  align-items: center;
  justify-items: center;
  overflow: hidden;
  padding: $gap;

  @media (min-height: 691px) {
    min-height: calc(33.33vh - #{$gap} * 0.66);
  }

  @media (max-height: 690px) {
    min-height: calc(230px - #{$gap} * 0.66);
  }

/**/
  // background-color: $color-primary;
  // min-height: calc(33vh - 12px);

  &:nth-of-type(1) {
    grid-area: a1;
  }

  &:nth-of-type(2) {
    grid-area: a2;
  }

  &:nth-of-type(3) {
    grid-area: a3;
  }

  &:nth-of-type(4) {
    grid-area: a4;
  }

  &:nth-of-type(5) {
    grid-area: a5;
  }

  &:nth-of-type(6) {
    grid-area: a6;
  }

  &:nth-of-type(7) {
    grid-area: a7;
  }

  &:nth-of-type(8) {
    grid-area: a8;
  }

  &:nth-of-type(9) {
    grid-area: a9;
  }

  &__overlay {
    opacity: 0.8;
    background-color: $color-primary;
    z-index: 1;
    transition: opacity 0.5s;
    @include abs-position;
  }

  &__image {
    background-size: cover;
    background-color: $color-primary;
    background-position: 50% 50%;
    transition: transform 0.5s;
    @include abs-position;
  }

  &__title {
    z-index: 2;
    margin: 0;
    font-family: $font-main;
    letter-spacing: 0.125rem;
    @include abs-position;
    @include md-min {
      font-size: 1.25rem;
    }
    @include md {
      font-size: 1.125rem;
    }
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: $gap;
    // width: 100%;
    height: 100%;
    transition: color 0.5s;
  }

  &:hover {
    .skill-item__overlay {
      opacity: 0.95 !important;
    }

    .skill-item__image {
      transform: scale(1.1);
    }

    .skill-item__link {
      color: $color-accent;
    }
  }
}
