.post {
  max-width: $ul;
  margin: auto;

  @include lg-min {
    padding: $gap * 5 0 $gap * 5 0;
  }
  @include lg-md {
    padding: $gap * 4 0 $gap * 4 0;
  }
  @include md {
    padding-top: $gap * 3;
    padding-bottom: $gap * 3;
  }
  &__container {
    @extend %container;
  }

    &__title {
      display: flex;
      justify-content: flex-start;
      letter-spacing: 0.1em;
      @include lg-min {
        margin-top: 0;
        margin-bottom: 56px;
        font-size: 2.5rem;
      }
      @include lg-md {
        margin-top: 0;
        margin-bottom: 42px;
        font-size: 2rem;
      }
      @include md-sm {
        padding-left: $gap;
        margin-top: 0;
        margin-bottom: 36px;
        font-size: 1.5rem;
      }
      @include sm {
        text-align: center;
        margin-bottom: 36px;
        font-size: 1.5rem;
      }
    }

  &__wrapper {
    display: grid;
    grid-gap: $gap;
    margin-bottom: $gap;
    @include lg-min {
      grid-template-columns: repeat(4, 1fr);
      grid-template-areas:
        "a1 a1 a2 a3"
        "a4 a5 a6 a6";
    }
    @include lg-md {
      grid-template-columns: repeat(3, 1fr);
      grid-template-areas:
        "a1 a1 a2"
        "a3 a4 a4"
        "a5 a5 a6";
    }

    @include md-sm {
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas:
        "a1 a2"
        "a3 a4"
        "a5 a6";
    }
    @include sm-xs {
      grid-template-columns: repeat(1, 1fr);
      grid-template-areas:
        "a1"
        "a2"
        "a3"
        "a4"
        "a5"
        "a6";
    }
  }
  &__button {
    display: flex;
    justify-content: center; 

    .btn-accent {
      
      @include sm {
        padding: 18px 20px;
        
        width: 100%;
        font-size: 1.5rem;
      }
      @include sm-xs {
        min-width: 250px;
        font-size: 1.125rem;
      }       
    }
  }
}

.post-item {
  background-color: lighten($color-gray-light, 5%);
  transition: background-color 0.5s; 

  &__text {
    display: grid;
    padding: $gap;
    align-content: center;
    text-align: center;
    transition: color 0.5s;
    color: $color-gray;

    h3 {
      font-family: $font-header;
      font-size: 1.125rem;
      letter-spacing: 0.05em;
    }

    p {
      letter-spacing: 0.015em;
    }
  }

  &:hover {
    background-color: darken($color-gray-light, 5%);
    color: $color-primary;

    .post-item__img img {
      transform: scale(1.1);
    }
  }
   
  &__link {
    display: grid;
    overflow: hidden;
    height: 100%;
    grid-template-rows: 300px 1fr;
    color: $color-gray;
    transition: color 0.5s;
  }
  &__img {
    display: flex;
    overflow: hidden;
    align-content: center;
    justify-content: center;
    
    img {
      width: 100%;
      transition: transform 0.5s;
      object-fit: cover;
    }
  }
  
  &:nth-of-type(1) {
    grid-area: a1;
  }
  
  &:nth-of-type(2) {
    grid-area: a2;
  }
  
  &:nth-of-type(3) {
    grid-area: a3;
  }
  
  &:nth-of-type(4) {
    grid-area: a4;
  }
  
  &:nth-of-type(5) {
    grid-area: a5;
  }
  
  &:nth-of-type(6) {
    grid-area: a6;
  }
}