.form {  
  background-color: $color-primary;
  border: none;
  padding: $gap * 1.5 0;
  
  &__container {
    max-width: $xl + $gap * 2;
    display: grid;
    grid-gap: $gap;
    margin: auto;
    padding-right: $gap;
    padding-left: $gap;

    @include lg-min {
      grid-template-columns: repeat(3, 1fr);
    }
    @include lg-md {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  .form-item {
    &:nth-of-type(1) {
      ::placeholder {
        color: $color-light;
      }
      @include md-sm {
        grid-column: 1 / span 2;
      }
    }
    &__input {
      display: block;
      width: 100%;
      height: 60px;
      padding-right: $gap;
      padding-left: $gap;

      transition: background-color 0.5s, border-color 0.5s;
      letter-spacing: 0.15em;
      font-size: 1.125rem;
      border: 2px solid rgba($color-light, 0);
      border-bottom-color: rgba($color-light, 0.25);
      background-color: rgba($color-light, 0.05);
      
      &::placeholder  {
        color: lighten($color-gray, 5%);
      }

      &:hover,
      &:focus {
        border-color: rgba($color-light, 0.15);
        border-bottom: 1px solid $color-light;
        background-color: rgba($color-light, 0.15);
        
        &::placeholder  {
          color: lighten($color-gray, 15%);
        }
        &::placeholder :nth-of-type(1) {
          color: $color-light;
        }  
      }
    }
  }  
  
  & .btn {
    color: $color-light;
    border-color: rgba($color-light, 0);
    border-bottom-color: rgba($color-light, 0.25);
    background-color: rgba($color-light, 0.1);
  }
  & .btn:hover,
  & .btn:focus {
    border: 1px solid $color-light;
    background-color: $color-accent;
    cursor: pointer;
  }
} 